:root {
    --black: #000000;
    --green: #687E25;
    --orange: #E78D0D;
    --red: #8E0103;
    --white: #ffffff;
    --Montserrat: 'Montserrat', sans-serif;
    --Proza: 'Proza Libre', sans-serif;
    --Raleway: 'Raleway', sans-serif;
    --xl: 72px;
    --lg: 40px;
    --md: 25px;
    --nrm: 20px;
    --sm: 16px;
    --xs: 14px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--Montserrat);
    font-size: var(--nrm);
    font-weight: 400;
    letter-spacing: 1px;
}
a {text-decoration: none;}
ul {padding: 0;list-style: none;}
img {
    object-fit: cover;
    width: 100%;
}
/* NAVBAR */
nav {
    align-items: center;
    /* background-color: var(--black); */
    background-color: #191718;
    display: flex;
    justify-content: space-between;
    padding: 16px 160px;
    width: 100%;
}
nav p.logo {
    color: var(--white);
    font-family: var(--Raleway);
    font-size: var(--lg);
}
nav p.logo span {
    color: var(--orange);
}
nav div.navbar-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav div.navbar-right ul {
    display: flex;
    margin-right: 40px;
}
nav div.navbar-right ul li {
    padding: 0 12px;
}
nav div.navbar-right ul li a {
    color: var(--white);
    position: relative;
}
nav div.navbar-right ul li a:after {
    background-color: var(--white);
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .4s;
    width: 0;
}
nav div.navbar-right ul li a:hover:after {
    width: 100%;
}
nav div.navbar-right a.navbar-button {
    border: 2px solid var(--orange);
    border-radius: 35px;
    color: var(--orange);
    padding: 16px 20px;
    transition: all .4s;
}
nav div.navbar-right a.navbar-button:hover {
    background-color: var(--orange);
    color: var(--white);
}

/* HEADER */
header {
    background-color: #191718;
    overflow: hidden;
    width: 100%;
}
header div.header-container {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    margin:0 auto;
    width: 80%;
}
header div.header-container div.header-text {
    width: 50%;
}
header div.header-container div.header-text h1 {
    color: var(--white);
    font-family: var(--Montserrat);
    font-size: var(--xl);
    font-weight: 800;
    margin-bottom: 12px;
}
header div.header-container div.header-text h1 span {
    color: var(--orange);
}
header div.header-container div.header-text p {
    color: var(--white);
    font-size: var(--md);
    margin-bottom: 32px;
}
/* header div.header-container div.header-text div.header-buttons {} */
header div.header-container div.header-text div.header-buttons a,
section.container article.principals-nfts div.content div.button a {
    border-radius: 25px;
    color: #040b29;
    cursor: pointer;
    display: inline-block;
    font-family: var(--Proza);
    overflow: hidden;
    padding: 12px 22px;
    position: relative;
    transition: all .3s ease;
}
header div.header-container div.header-text div.header-buttons a span,
section.container article.principals-nfts div.content div.button a span {
    position: relative;
    z-index: 1;
}
header div.header-container div.header-text div.header-buttons a:nth-child(1),
section.container article.principals-nfts div.content div.button a {
    background-color: var(--orange);
    margin-right: 12px;
}
header div.header-container div.header-text div.header-buttons a:nth-child(1)::before,
header div.header-container div.header-text div.header-buttons a:nth-child(2)::before,
section.container article.principals-nfts div.content div.button a::before {
    content: "";    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: transform .5s;
    z-index: 0;
}
header div.header-container div.header-text div.header-buttons a:nth-child(1)::before,
section.container article.principals-nfts div.content div.button a::before {
    transform-origin: top;
    transform: scaleY(0);
}
header div.header-container div.header-text div.header-buttons a:nth-child(1):hover,
section.container article.principals-nfts div.content div.button a:hover {
    outline: none;
}
header div.header-container div.header-text div.header-buttons a:nth-child(1):hover::before,
header div.header-container div.header-text div.header-buttons a:nth-child(2):hover::before,
section.container article.principals-nfts div.content div.button a:hover::before {
    transition: transform .5s;
}
header div.header-container div.header-text div.header-buttons a:nth-child(1):hover::before,
section.container article.principals-nfts div.content ~ a:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
}
header div.header-container div.header-text div.header-buttons a:nth-child(2) {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}
header div.header-container div.header-text div.header-buttons a:nth-child(2):hover {
    color: #040b29;
}
header div.header-container div.header-text div.header-buttons a:nth-child(2)::before {
    transform-origin: right;
    transform: scaleX(0);
}
header div.header-container div.header-text div.header-buttons a:nth-child(2):hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
header div.header-container div.swiper-container {
    background: radial-gradient(51.75% 51.75% at 49.92% 48.25%, #838182 0%, #545253 39.06%, #393838 67.19%, #191718 100%);
    user-select: none;
    width: 43%;
}
header div.header-container div.swiper-container .swiper {
    width: 65%;
}
/* header div.header-container div.swiper-container .swiper .swiper-wrapper {} */
div.swiper-slide {
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 14px;
    position: relative;
    transition: all .4s;
    z-index: 0;
}
div.swiper-slide::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -47%;
    top: -16%;
    width: 200%;
    height: 130%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(142deg, #e78d0d 0%, #ae9200 33%, #729100 68%, #298b22 99%);
    animation: rotateBorder 4s linear infinite;
}
div.swiper-slide::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: var(--black);
}
section div.swiper-slide:hover {
    box-shadow: 0px 0px 10px 5px #4d4c4c;
    transform: translateY(-8px);
}
div.swiper-slide .swiper-slide-autor {
    align-items: center;
    display: flex;
    justify-content: space-between;

}
div.swiper-slide .swiper-slide-autor figure.swiper-slide-autor-image {
    align-items: center;
    display: flex;
}
div.swiper-slide .swiper-slide-autor figure.swiper-slide-autor-image img {
    border-radius: 100%;
    height: 50px;
    margin-right: 8px;
    width: 50px;
}
div.swiper-slide .swiper-slide-autor figure.swiper-slide-autor-image span {
    font-size: var(--sm);
    font-weight: bold;
}
/* div.swiper-slide .swiper-slide-autor a.swiper-slide-autor-options {
    color: var(--white);
}
div.swiper-slide .swiper-slide-autor a.swiper-slide-autor-options i {} */

div.swiper-slide .swiper-slide-image {
    margin: 14px 0;
}
/* div.swiper-slide .swiper-slide-image figure {} */
div.swiper-slide .swiper-slide-image figure img {
    width: 100%;
}

div.swiper-slide .swiper-slide-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/* div.swiper-slide .swiper-slide-info .swiper-slide-info-text {} */
div.swiper-slide .swiper-slide-info .swiper-slide-info-text h4 {
    font-weight: bold;
}
div.swiper-slide .swiper-slide-info .swiper-slide-info-text p {
    font-size: var(--xs);
}
div.swiper-slide .swiper-slide-info .swiper-slide-info-text p span {
    color: var(--green);
    font-weight: bold;
}
div.swiper-slide .swiper-slide-info .swiper-slide-info-reaction {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
div.swiper-slide .swiper-slide-info .swiper-slide-info-reaction a {
    color: var(--white);
    transition: all .4s;
}
/* div.swiper-slide .swiper-slide-info .swiper-slide-info-reaction a i {} */
div.swiper-slide .swiper-slide-info .swiper-slide-info-reaction span {
    font-size: var(--sm);
    margin-left: 4px;
}

/* PRINCIPAL SECTION */
section.container {
    /* background-color: var(--black); */
    background-color: #060606;
    padding: 120px 0;
    color: var(--white);
}
section.container article {
    margin: 0 auto;
    width: 80%;
}
/* section.container article.about-us {} */
section.container article div.title {
    position: relative;
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    background: transparent;
    border-radius: none;
    display: inherit;
}
section.container article div.title div.title-line {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    position: absolute;
    content: "";
}
section.container article div.title div.title-line::after {
    content: "";
    width: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 11px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(142deg, #e78d0d 0%,  #298b22 99%);
    border-image-slice: 1;
}
section.container article div.title div.title-line span {
    background: #fff;
    height: 1px;
    display: block;
}
section.container article div.title h2 {
    position: inherit;
    z-index: 1;
    background-color: #000;
    padding-inline: 1rem;
    text-transform: uppercase;
    display: inline-block;
    font-size: var(--md);
    font-family: var(--Proza);
}
section.container article div.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    width: 80%;
}
section.container article.about-us div.content figure {
    width: 25%;
}
/* section.container article.about-us div.content figure img {} */
section.container article.about-us div.content p {
    hyphens: auto;
    letter-spacing: 0px;
    line-height: 33px;
    width: 70%;
}
section.container article.principals-nfts div.content {
    width: 100%;
    margin: 80px 0;
    flex-wrap: wrap;
}
section.container article.principals-nfts div.content .swiper-slide {
    margin-bottom: 36px;
    width: 24%;
}
section.container article.principals-nfts div.content div.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
section.container article.roadmap .content {
    align-items: stretch;
}
section.container article.roadmap .content .text-box-container {
    width: 46%;
}
section.container article.roadmap .content .text-box-container:nth-child(1) {
    margin-top: 52px;
}
section.container article.roadmap .content .text-box-container:nth-child(3) {
    margin-top: 124px;
}
section.container article.roadmap .content .text-box-container .text-box {
    background-color: #16151A;
    border: 2px solid #26242D;
    margin-bottom: 100px;
    padding: 24px;
    position: relative;
}
section.container article.roadmap .content .text-box-container .text-box:after {
    background-color: #302e38;
    border-radius: 100%;
    content: "";
    height: 25px;
    position: absolute;
    width: 25px;
    top: 50%;
}
section.container article.roadmap .content .text-box-container:nth-child(1) .text-box:after {
    right: -62px;
}
section.container article.roadmap .content .text-box-container:nth-child(3) .text-box:after {
    left: -62px;
}
section.container article.roadmap .content .text-box-container .text-box .checkbox {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    background-color: var(--green);
    border-radius: 4px;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
section.container article.roadmap .content .text-box-container .text-box .checkbox i {
    color: #16151A;
}
section.container article.roadmap .content .text-box-container .text-box .titles {
    margin-bottom: 20px;
}
section.container article.roadmap .content .text-box-container .text-box .titles span {
    font-size: var(--sm);
}
section.container article.roadmap .content .text-box-container .text-box .titles h4 {
    color: var(--green);
    font-size: var(--md);
    font-weight: 800;
}
/* section.container article.roadmap .content .text-box-container .text-box .text {} */
section.container article.roadmap .content .line {
    width: 8px;
    background-color: #302E38;
    position: relative;
}
section.container article.roadmap .content .line::before,
section.container article.roadmap .content .line::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #302E38;
    left: -8px;
    border-radius: 100%;
}
section.container article.roadmap .content .line::before {
    top: -24px;
}
section.container article.roadmap .content .line::after {
    bottom: -24px;
}
section.container article.faq .content {
    flex-direction: column;
}
section.container article.faq .content .question-box {
    display: flex;
    padding: 16px 8px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--white);
}
/* section.container article.faq .content .question-box .text {} */
section.container article.faq .content .question-box .text h4.question {
    font-family: var(--Proza);
    margin-bottom: 8px;
    font-size: var(--md);
    color: var(--orange);
}
/* section.container article.faq .content .question-box .text p.answer {} */
/* section.container article.faq .content .question-box .icon {} */
section.container article.faq .content .question-box .icon i {
    font-size: var(--md);
}
section.container article.our-team .content {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}
section.container article.our-team .content .card-profile {
    text-align: center;
    width: 31%;
    background: #16151a;
    margin-bottom: 40px;
    padding: 28px 0;
    border-radius: 8px;
}
section.container article.our-team .content .card-profile:nth-child(even) {
    margin-left: 20px;
    margin-right: 20px;
}
section.container article.our-team .content .card-profile figure {
    border-radius: 100%;
    height: 200px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    width: 200px;
}
/* section.container article.our-team .content .card-profile figure img {}
section.container article.our-team .content .card-profile .card-info {} */
section.container article.our-team .content .card-profile .card-info h4 {
    font-size: var(--md);
    margin-bottom: 4px;
}
section.container article.our-team .content .card-profile .card-info p {
    font-size: var(--sm);
}
section.container article.our-team .content .card-profile .card-info span {
    margin-top: 16px;
    display: block;
}
section.container article.our-team .content .card-profile .card-info span a {
    color: var(--white);
}
section.container article.our-team .content .card-profile .card-info span a:nth-child(1) {
    margin-right: 4px;
}
section.container article.our-team .content .card-profile .card-info span a i {
    transform: scale(1.2);
}

footer {
    background: #0e0e11;
    padding: 40px 0 0 ;
    text-align: center;
}
footer h2 {
    font-family: var(--Proza);
    font-size: var(--md);
    color: var(--white);
    margin-bottom: 20px;
    text-transform: uppercase;
}
footer h2 span {
    color: var(--orange);
}
footer div {
    display: flex;
    justify-content: center;
}
footer div span {
    background: var(--orange);
    padding: 8px;
    border-radius: 4px;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}
footer div span i {font-size: var(--md);}
footer > p {
    font-size: var(--xs);
    color: var(--white);
    background-color: var(--black);
    padding: 16px 0;
    margin-top: 40px;
}
footer > p a {
    color: var(--white);
}

@keyframes rotateBorder {
	100% {
		transform: rotate(1turn);
	}
}